*{
    margin:0;
    padding: 0;
    text-decoration: none;

}
.container{
    display: flex;
}
main{
    width:100%;
    padding: 20px;
}
.sidebar{
    background: rgb(13, 5, 46);
    color:#fff;
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding: 20px 15px;
}
.logo{
    font-size:25px;
}
.bars{
    display: flex;
    font-size:30px;
    margin-left:50px;
}
.link{
    display:flex;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    gap:15px;
    transition: all 0.5s;
}

.link:hover{
    background: rgb(9, 3, 31);
    color: #fff;
    transition: all 0.5s;
}

.active{
    background:rgb(9, 3, 31);
    color: #fff;
}
.icon, .link_text{
    font-size: 20px;
    
}